<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" scan="true" scanPeriods="30 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProfile name="home">
        <property name="logDir" value="D:/projects/springbootstudy/samplelogs" />
    </springProfile>
    <springProfile name="notebook">
        <property name="logDir" value="D:/projects/intellij_projects/springbootstudy/samplelogs" />
    </springProfile>
    <springProfile name="h2_log4jdbc">
        <logger name="jdbc.sqlonly" level="off" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>
        <logger name="jdbc.sqltiming" level="debug" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>
        <logger name="jdbc.audit" level="off" additivity="false" />
        <logger name="jdbc.resultset" level="off" additivity="false" />
        <logger name="jdbc.resultsettable" level="off" additivity="false" />
        <logger name="jdbc.connection" level="off" additivity="false" />

        <logger name="javax.sql" level="info" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>
    </springProfile>
    <property name="logFileName" value="buylog"/>
    <appender name="testBuyAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${logDir}/${logFileName}-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="testBuyLogger" level="info" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="testBuyAppender" />
    </logger>
</configuration>